
  <manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="co.fitcom.fingerprintauth.capacitorfingerprintauth">

      <uses-sdk tools:overrideLibrary="com.jesusm.kfingerprintmanager"/>

      <uses-permission android:name="android.permission.USE_FINGERPRINT" />
  </manifest>
